<p id="notice"><%= notice %></p>

<p>
	<strong>Name:</strong>
	<%= @house.address1 %>
</p>

<table class="table">
	<thead>
		<tr>
			<th>User</th>
			<th>Created at</th>
			<th>Updated at</th>
			<th>Notes</th>
		</tr>
	</thead>

	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<td><%= review.user_id %></td>
				<td><%= review.created_at %></td>
				<td><%= review.updated_at %></td>
				<td><%= review.notes %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to 'Review It', new_house_review_path(@house) %> |
<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
